[credential]
	helper = store
[user]
	email = mahmod.m2015@gmail.com
	name = mahmoodsheikh36
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = less
