html, body {
    /* margin: 0; */
    /* padding: 0; */
    color: #333;
    background-color: #fff8e8;
}

.content {
    max-width: 700px;
    margin: auto;
}

.main-title, .desc {
    margin: auto;
    width: fit-content;
}

.navbar {
    margin: auto;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    padding: 10px;
}


.list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}