html, body {
    /* margin: 0; */
    /* padding: 0; */
    color: #333;
    background-color: #fff8e8;
}

.content {
    max-width: 700px;
    margin: auto;
}

.main-title, .desc {
    margin: auto;
    width: fit-content;
}

.navbar {
    margin: auto;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    padding: 10px;
}


/* style for lists of references like the archive or blog section */
.list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* style for album covers */
.collage {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}
.collage img {
    border: 1px solid red;
    margin: 3px;
    justify-content: center;
}
.collage .card {
    max-width: 150px;
    display: flex;
    flex-flow: column;
    margin: 5px;
}
.collage .card span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.album-name {
    color: rgb(175, 39, 39);
}