/* for nerd fonts, https://www.nerdfonts.com/cheat-sheet */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* themes */
:root {
  color-scheme: light dark;
  --primary-color: light-dark(#333, #888);
  --primary-background: light-dark(#fff8e8, #121212);
  --secondary-background: light-dark(#d1d9d9, #222223);
}

html, body {
    /* margin: 0; */
    /* padding: 0; */
    color: var(--primary-color);
    background-color: var(--primary-background);
}

.content {
    max-width: 700px;
    margin: auto;
}

.main-title, .desc {
    margin: auto;
    width: fit-content;
    display: block;
    text-align: center;
}

.navbar {
    margin: auto;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    padding: 10px;
    align-items: center;
}


/* style for lists of references like the archive or blog section */
.list-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* style for album covers */
.collage {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}
.collage img {
    border: 1px solid red;
    margin: 3px;
    justify-content: center;
}
.collage .card {
    max-width: 150px;
    display: flex;
    flex-flow: column;
    margin: 5px;
}
.collage .card span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.album-name {
    color: rgb(175, 39, 39);
}


/* otherwise images overflow out of screen */
img {
    max-width: 100%;
}


/* org inserts inline height value, override that, it causes problems with big latex previews on smaller screens where the previews take more height than they need because their width was decreased (using max-width: 100%) but their height wasnt */
.org-latex {
    height: 100% !important;
}

/* make src blocks horizontally scrollable */
.org-src-container, pre.example {
    overflow-x: auto;
}


/* block styling */
.math-block {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: var(--secondary-background);
    border: solid 1px #3498db;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
}
.math-block:before {
    content: attr(data-before);
    font-weight: bold;
    font-style: italic;
}
.math-block:after {
    content: attr(data-after);
    font-weight: bold;
    font-style: italic;
}


a {
    color: rgb(217, 70, 91);
    text-decoration: none;
}

#darkModeToggle {
  font-size: 25px;
  cursor: pointer;
}

:root.dark .org-latex {
    filter: invert(70%) sepia(10%) saturate(300%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

/* code block styling */
.org-src-container {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}
.org-src-container::before, .org-src-container::after {
    content: '';
    position: absolute;
    top: 5px;
    font-size: 0.9em;
    color: #555;
}
.org-src-container::before {
    content: 'Code';
    left: 20px;
    background-color: #f5f5f5;
    padding: 0 5px;
}
.org-src-container::after {
    content: attr(data-language);
    right: 20px;
    background-color: #f5f5f5;
    padding: 0 5px;
}