[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=st is a simple terminal implementation for X.
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Icon=terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;st;suckless;simple;terminal
