/* old styling */
/*
.lemma, .proof, .entailment, .definition, .note, .my_example, .characteristic, .assumption, .question, .subquestion, .answer, .step, .code-output, .code {
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,.1);
  padding: 10px;
  border: 1px black solid;
  margin: 5px;
}
.lemma:before, .proof:before, .entailment:before, .definition:before, .note:before, .my_example:before, .characteristic:before, .assumption:before, .question:before, .subquestion:before, .answer:before, .step:before, .code-output:before, .code:before {
  background-color: #bbb;
  position: relative;
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid black;
  font-family: cursive;
}
.lemma {
  background-color: beige;
}
.proof {
  background-color: moccasin;
}
.entailment {
  background-color: lightsteelblue;
}
.lemma:before {
  content: "lemma:";
}
.proof:before {
  content: "proof:";
}
.entailment:before {
  content: "entailment (logical consequence):";
}
.note {
  background-color: blanchedalmond;
}
.note:before {
  content: url(/note.png) "note:";
  content: "note:";
}
.my_example {
  background-color: #e8cfc8;
}
.my_example:before {
  content: "example:";
}
p {
  margin: 0px;
  padding: 0px;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.hide {
  display: none;
}
.definition {
  background-color: snow;
}
.definition:before {
  content: "definition:";
}
.characteristic {
  background-color: #dfdada;
}
.characteristic:before {
  content: "characteristic:";
}
.assumption {
  background-color: #65ad98;
}
.question {
  background-color: #e1c6c6;
}
.question:before {
  content: "question:";
}
.subquestion {
  background-color: #e5e2d8;
}
.subquestion:before {
  content: "subquestion:";
}
.answer {
  background-color: #beabc5;
}
.answer:before {
  content: "answer:";
}
.step {
  background-color: #b4d3ad;
}
.step:before {
  content: "step:";
}
*/
/* center images */
img {
  margin: auto;
}
figure {
  display: flex !important;
}

/* table css */
table {
  margin: auto;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.collage {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}
.collage img {
  max-width: 95px;
  border: 1px solid red;
  margin: 3px;
  justify-content: center;
}
/* for album collages - images with text below them */
.collage div {
  display: flex;
  flex-flow: column;
  margin: 5px;
}
.collage span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 12px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border: 1px solid blue;
  border-radius: 6px;
  padding: 5px 2px;

  /* position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  border-top: 20px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* equations */
.equation-container {
    margin: 10px;
}

/* code blocks */
.code-output:before {
    content: "[code output]";
}
.code:before {
    content: "[code]";
}

/* new style for custom blocks */
.lemma, .proof, .entailment, .definition, .note, .my_example, .characteristic, .assumption, .question, .subquestion, .answer, .step, .code-output, .code {
    margin: 20px 0 0 0;
    position: relative;
    border: 1px solid tomato;
    border-radius: 12px;
    padding: 10px;
}
.lemma:before, .proof:before, .entailment:before, .definition:before, .note:before, .my_example:before, .characteristic:before, .assumption:before, .question:before, .subquestion:before, .answer:before, .step:before, .code-output:before, .code:before {
  content: 'lemma';
  position: absolute;
  top: -10px;
  padding: 0 10px;
  background-color: floralwhite;
  border-radius: 6px;
  content: attr(data-before-content);
}